* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: sans-serif;
}

header{
    background-color: white;
    height: 12vh;
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-container  ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
}
.nav-container li {
    padding: 10px;
}

.box2 img 
{
    width: 200px;
    height: 300px;
}
main {
    padding: 150px;
    background-color: lightgray ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.box1{
   
    background-color: white;
    padding: 50px;
    
}


.box1 p {
    margin: 10px;
    font-weight: bold;

}


footer {
    padding: 10px;
    background-color: #2941ab;
    height: 20vh;
    color: white;
    text-align: center;    
}
footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    color: gray;
}


@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }
  }