* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: sans-serif;
}

header{
    background-color: white;
    height: 10vh;
}

main {
    padding-top: 110px;
    background-color: lightgray ;
    height: 40vh;
}

footer {
    padding: 10px;
    background-color: gray ;
    height: 80vh;
    color: white;
    text-align: center;
}

input[type="text"] {
    border-color: lightgray;
    border-radius: 6px ;
    padding: 5px;
}

input[type="submit"] {
    border-color: lightgray;
    border-radius: 6px;
    background-color:#0072e1 ;
    color: white;
    padding: 5px;
}

form {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}